site_name: My Docs 
theme:
  name: material
  features:
   - navigation.tabs
   - navigation.sections
   - toc.integrate
   - search.suggest
   - search.highlight
   - content.tabs.link
   - content.code.annotation
   - content.code.copy
  language: en
  palette:
   - scheme: default
     toggle: 
       icon: material/toggle-switch-off-outline
       name: Switch to dark mode
     primary: pink
     accent: purple
   - scheme: slate
     toggle:
       icon: material/toggle-switch
       name: Switch to light mode
     primary: pink
     accent: lime

extra:
  social:
   - icon: fontawesome/brands/github-alt
     link: ...
   - icon: fontawesome/brands/twitter
     link: ...
   - icon: fontawesome/brands/linkedin
     link: ...

markdown_extensions:
 - pymdownx.highlight:
     anchor_linenums: true
 - pymdownx.inlinehilite
 - pymdownx.snippets
 - admonition
 - pymdownx.arithmatex:
     generic: true
 - footnotes
 - pymdownx.details
 - pymdownx.superfences
 - pymdownx.mark
 - attr_list
 - pymdownx.emoji:
     emoji_index: !!python/name:materialx.emoji.twemoji
     emoji_generator: !!python/name:materialx.emoji.to_svg

copyright:
  &copy 2024 <a href="https://github.com/eleliis22"  target="_blank" rel="noopener">Ele-Liis Evestus</a>